@font-face {
  font-family: "CircularStd";
  src: url("fonts/CircularStd-Black.eot");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "CircularStd";
  src: url("fonts/CircularStd-BlackItalic.eot");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "CircularStd";
  src: url("fonts/CircularStd-Bold.eot");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "CircularStd";
  src: url("fonts/CircularStd-BoldItalic.eot");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "CircularStd";
  src: url("fonts/CircularStd-Book.eot");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "CircularStd";
  src: url("fonts/CircularStd-BookItalic.eot");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "CircularStd";
  src: url("fonts/CircularStd-Medium.eot");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "CircularStd";
  src: url("fonts/CircularStd-MediumItalic.eot");
  font-weight: 500;
  font-style: italic;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "CircularStd";
}

html {
  scroll-behavior: smooth;
}
