@font-face {
  font-family: "CircularStd";
  src: url("fonts/CircularStd-Medium.ttf"),
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "CircularStd", sans-serif;
}
html {
  scroll-behavior: smooth;
}