@font-face {
  font-family: "CircularStd";
  src: url("fonts/CircularStd-Bold.ttf");
  font-weight: bold; /* or 700 if you prefer numeric values */
}

@font-face {
  font-family: "CircularStd";
  src: url("fonts/CircularStd-Regular.ttf");
  font-weight: normal; /* or 400 if you prefer numeric values */
}

@font-face {
  font-family: "CircularStd";
  src: url("fonts/CircularStd-Light.ttf");
  font-weight: lighter; /* or 300 if you prefer numeric values */
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "CircularStd", sans-serif;
}
body{
  font-family: "CircularStd", sans-serif;
}

html {
  scroll-behavior: smooth;
}
